<div class="firstcontainer flex-center flex-column">
    <h1>Türkçe Quiz</h1>
    <p class="explanation">Lütfen türkçe seviyenizi seçiniz , seviyenize uygun test başlatılacaktır.</p>
    <div id="home" class="flex-center flex-column">
        <select class="btn" id="selectoptions" name="cars">
            <option value="A1">A1</option>
            <option value="A2">A2</option>
            <option value="B1">B1</option>
            <option value="B2">B2</option>
        </select>
        <a>Başla</a>

    </div>
</div>